@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap')
	;


.slide-container {
	height: 550px;
	max-width: 1320px;
	width: 100%;
	padding: 40px 0;
}

.slide-content {
	margin: 0 40px;
	overflow: hidden;
	border-radius: 25px;
}

.card {
	border-radius: 25px;
	background-color: #FFF;
}

.image-content, .card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 38px;
}

.image-content {
	position: relative;
	row-gap: 5px;
	padding: 25px 0;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/*background-color: #4070F4;*/
	background-color: rgb(44, 139, 115);
	border-radius: 25px 25px 0 25px;
}

.overlay::before, .overlay::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -40px;
	height: 40px;
	width: 40px;
	background-color: rgb(44, 139, 115);
}

.shadow {
	-webkit-box-shadow: -50px 59px 14px 2px rgba(0, 109, 164, 0.68);
	-moz-box-shadow: -50px 59px 14px 2px rgba(0, 109, 164, 0.68);
	box-shadow: -50px 59px 14px 2px rgba(0, 109, 164, 0.68);
	transition: box-shadow 0.3s ease;
	/* Add transition for smooth effect */
}

.overlay::after {
	border-radius: 0 25px 0 0;
	background-color: #FFF;
}

.card-image {
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: #FFF;
	padding: 3px;
}

.card-image .card-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 4px solid rgb(44, 139, 115);
}

.name {
	margin-top: 18px;
	font-size: 18px;
	font-weight: 500;
	color: #333;
	text-align: center;
}

.description {
	margin-top: 16px;
	font-size: 14px;
	color: #707070;
	text-align: justify;
}

.swiper-navBtn {
	color: rgb(44, 139, 115);
	transition: color 0.3s ease;
}

.swiper-navBtn:hover {
	color: rgb(44, 139, 115);
}

.swiper-navBtn::before, .swiper-navBtn::after {
	font-size: 35px;
}

.swiper-button-next {
	right: 0;
}

.swiper-button-prev {
	left: 0;
}

.swiper-pagination-bullet {
	background-color: rgb(44, 139, 115);
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: rgb(44, 139, 115) s;
}

@media screen and (max-width: 768px) {
	.slide-content {
		margin: 0 10px;
	}
	.swiper-navBtn {
		display: none;
	}
}