* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 5%;
	background-color:white;
	background-image:url("/images/Large jumbo scale __ Music to my eyes __ beige background gold textured musical instruments green indoor plants pink music notes.jpg");
}
h1{
	border:5px inset yellow;
	backdrop-filter: blur(25px);
	font-weight: bolder;
}


	
nav {
	order: 1;
}

.nav__links a, .cta, .overlay__content a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;
}

.nav__links {
	list-style: none;
	display: flex;
	font-size: 16px;
}

.nav__links li {
	padding: 0px 50px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

.nav__links li a:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

.cta {
	order: 2;
	margin-left: 20px;
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.cta:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.slide-container{
	height:500px;
	margin-top:0px;
  	max-width: 1320px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 38px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /*background-color: #4070F4;*/
  background-color: rgba(0, 136, 169, 1);
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}

.shadow {
   -webkit-box-shadow: -50px 59px 14px 2px rgba(0,109,164,0.68);
-moz-box-shadow: -50px 59px 14px 2px rgba(0,109,164,0.68);
box-shadow: -50px 59px 14px 2px rgba(0,109,164,0.68);
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}


.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgba(0, 136, 169, 1);
}
.name{
	margin-top:18px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
}
.description{
	margin-top:16px;
  font-size: 14px;
  color: #707070;
  text-align: justify;
}

.swiper-navBtn{
	color:rgba(0, 136, 169, 1);;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color:rgba(0, 136, 169, 1);
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{

  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}