<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Home PAGE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap"
	rel="stylesheet">
<!-- Swiper CSS -->
<link rel="stylesheet" href="/css/swiper.css">
<link rel="stylesheet" href="/css/style2.css">
</head>
<body>
	<header>
		<h1>Welcome to VibeVault...</h1>
		<nav>
			<ul class="nav__links">
				<li><a class="cta" href="/map-login">LOG IN</a></li>
				<li><a class="cta" href="/map-register">SIGN UP</a></li>
			</ul>
		</nav>
		<a class="cta" href="#" id="aboutBtn">ABOUT</a>
	</header>
	<div class="slide-container swiper">
		<div class="slide-content">
			<div class="card-wrapper swiper-wrapper">

				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="/images/14826677-Music_Wallpaper-2.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">Discover and Enjoy a World of Music with VibeVault Music</h2>
						<p class="description">VibeVault Music is a cutting-edge online
							streaming music app that offers a seamless and immersive musical
							experience for users visiting your website. With its
							user-friendly interface and extensive music library, TuneHub
							Music provides a platform where music lovers can discover, listen
							to.</p>


					</div>
				</div>

				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="/images/pngtree-woman-in-colorful-music-sound-wallpaper-image_2894117.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">Personalized Recommendations for a Tailored Listening Experience</h2>
						<p class="description">One of the standout features of VibeVault
							Music is its personalized recommendation system, which uses
							advanced algorithms to curate playlists and suggest tracks based
							on users' listening habits and preferences. By offering tailored
							music suggestions, VibeVault Music enhances user engagement and
							encourages exploration of new artists and genres.</p>


					</div>
				</div>
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="/images/fbaee1ebec8ad0b7bc3dbce2daa96e6700a36bcd.jpeg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">Convenience and Accessibility at Your Fingertips</h2>
						<p class="description">In addition to its impressive music
							catalog and personalized recommendations, VibeVault Music also
							prioritizes user convenience and accessibility. The app is
							designed to be responsive across various devices and screen
							sizes, ensuring a smooth and enjoyable listening experience
							.</p>


					</div>
				</div>
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="/images/f29e561a3fc85146c9d4f1962435ac77.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">Create a Dynamic Music Hub on Your Website with VibeVault Music</h2>
						<p class="description">Overall, TuneHub Music is a must-have
							addition to your website for any music aficionado looking to
							elevate their listening experience. With its vast music
							selection, personalized recommendations, and user-friendly
							interface, VibeVault Music sets the stage for a captivating.</p>

					</div>
				</div>
			</div>
		</div>

		<div class="swiper-button-next swiper-navBtn"></div>
		<div class="swiper-button-prev swiper-navBtn"></div>
		<div class="swiper-pagination"></div>
	</div>

	<!-- Swiper JS -->
	<script src="/js/swiper.js"></script>

	<!-- JavaScript -->
	<script src="/js/script.js"></script>

</body>
</html>