<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>WELCOME PAGE</title>
<link rel="stylesheet" href="/css/style1.css"> 
</head>
<body>
  <div class="home">
    <div class="wrapper">
      <svg width="1150" height="100">
        <text x="50%" y="50%" dy=".35em" text-anchor="middle">
          Welcome To VIBEVAULT
        </text>
      </svg>
    </div>
    <a href="homepage">
      <button class='glowing-btn'><span class='glowing-txt'>C<span class='faulty-letter'>L</span>ICK</span></button>
    </a>
  </div>
</body>
</html>