<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LOGIN FAIL</title>
<link rel="stylesheet" href="/css/style31.css">
</head>
<body>
	<h1>Invalid credentials</h1>
	<a href="/map-login">Click here to login</a>

</body>
</html>


<div class="container" id="container">
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1 style="text-shadow: 2px 2px red ">LOGIN FAILED</h1>
				<h1>Hello, Friend!</h1>
				<p>PLEASE, ENTER YOUR PERSONAL DETAILS CORRECT AND START JOURNEY WITH US</p>
				<a href="/map-login" style="color: white">
					<button class="ghost" id="signUp">LOG IN</button>
				</a>
				<p>IF NO ACCOUNT, THEN REGISTER HERE BY CLICK</p>
				<a href="/map-register" style="color: white">
					<button class="ghost" id="signUp">REGISTER</button>
				</a>
			</div>
		</div>
	</div>
</div>