<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LOGIN PAGE</title>
<link rel="stylesheet" href="/css/style4.css">
</head>
<body>
	<section class="container">
		<div class="login-container">
			<div class="circle circle-one"></div>
			<div class="form-container">
				<h1 class="opacity">LOGIN</h1>
				<form action="/login" method="post">

					<label>Email ID:</label> <input type="email" name="email"  placeholder="Email Id"/> <label>Password:</label>
					<input type="password" name="password" placeholder="Password"/> <input type="submit"
						value="LOGIN" />

				</form>
				<div class="register-forget opacity">
					<a href="map-register">REGISTER</a> <a href="">FORGOT PASSWORD</a>
				</div>
			</div>
			<div class="circle circle-two"></div>
		</div>
		<div class="theme-btn-container"></div>
	</section>
	
</body>
</html>