<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PLAYLIST CREATED</title>
<link rel="stylesheet"  href="/css/header.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
body {
	background: rgb(133, 169, 146);
	background: linear-gradient(306deg, rgba(133, 169, 146, 1) 17%,
		rgba(116, 185, 172, 1) 30%, rgba(72, 114, 102, 1) 69%,
		rgba(163, 182, 170, 1) 92%);
}
</style>
</head>
<body>
	 <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="Admin"><h1 id="k">Welcome Admin</h1>
     TUNE_HUB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: auto !important;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/map-songs}"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
						<path d="M9 18V5l12-2v13"></path>
						<circle cx="6" cy="18" r="3"></circle>
						<circle cx="18" cy="16" r="3"></circle></svg>ADD SONGS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/map-viewsongs}"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
						<path d="M9 18V5l12-2v13"></path>
						<circle cx="6" cy="18" r="3"></circle>
						<circle cx="18" cy="16" r="3"></circle></svg>VIEW SONGS</a>
        </li>
        <li class="nav-item">
		<a class="nav-link active"  th:href="@{/createplaylist}"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
						<circle cx="12" cy="12" r="10"></circle>
						<polygon points="10 8 16 12 10 16 10 8"></polygon></svg>CREATE PLAYLIST</a>				
        </li>
        <li class="nav-item">
		<a class="nav-link active" th:href="@{/viewPlaylists}"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
						<circle cx="12" cy="12" r="10"></circle>
						<polygon points="10 8 16 12 10 16 10 8"></polygon></svg>VIEW PLAYLISTS</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <svg xmlns="http://www.w3.org/2000/svg"
						width="34" height="34" viewBox="0 0 24 24" fill="none"
						stroke="currentColor" stroke-width="2" stroke-linecap="round"
						stroke-linejoin="round" class="h-4 w-4">
						<path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
						<polyline points="9 22 9 12 15 12 15 22"></polyline></svg>ACCOUNT
           
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"   th:href="@{/map-account}">PROFILE</a></li>
            <li><a class="dropdown-item"   th:href="@{/map-logout}">LOG OUT</a></li>
            <li><button class="dropdown-item" onclick="deleteAccount()">DELETE ACCOUNT</button></li>
          </ul>
        </li>
       
      </ul>
      
    </div>
  </div>
</nav>

<!--  <a th:href="@{/map-logout}">LOG OUT</a>-->
<!--  <a th:href="@{/deactivate}">DELETE ACCOUNT</a>-->
	


<script>
function deleteAccount() {
    var confirmDelete = confirm("Do you want to delete your account?");
    if (confirmDelete) {
        var email = prompt("Enter your email:");
        if (email) {
            fetch('/deactivate?email=' + encodeURIComponent(email), {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.text())
            .then(message => {
            	
                alert(message);
                // Redirect to home page or any other page as needed
                window.location.href = 'homepage';
            })
            .catch(error => console.error('Error:', error));
        } else {
            alert("Email cannot be empty");
        }
    }
}
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>




	<h1>Playlist is created</h1>

</body>
</html>