<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style31.css">
<title>REGISTRATION FAILED</title>
</head>
<body>

<div class="container" id="container">
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
				<h1 style="text-shadow: 2px 2px red ">REGISTRATION FAILED.</h1>
				<h3>Email Id is already registered.</h3>
					<h3>Please try again.</h3>
					<p>Enter your personal correct details and start journey with us</p>
					<a href="/map-register" style="color:white">
					<button class="ghost" id="signUp">SING UP</button></a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>