<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>REGISTRATION PAGE</title>
<link rel="stylesheet" href="/css/style3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
	<section class="container">
		<div class="login-container">
			<div class="circle circle-one"></div>
			<div class="form-container">
				<img
					src="https://drive.google.com/uc?export=view&id=1bKgdKUQ2Uhx6rjY7LNTuBjLfZhJxKVSq"
					alt="illustration" class="illustration" />
				<h1 class="opacity">REGISTRATION</h1>
				<form action="/register" method="post">
					<input type="text" placeholder="User Name" name="username" required>
					<input type="email" placeholder="Email ID" name="email" required id="email">
					<p class="opacity" id="message"></p>
					<input type="password" name="password" placeholder="Password" id="password" required="required" onclick="emailfun()"/>
					<i class="fa fa-eye" id="eye"></i> 
					<label for="gender">Gender:</label>
					<div class="radio-group">
						<input type="radio" id="male" name="gender" value="male" required>
						<label for="male">Male</label> <input type="radio" id="female"
							name="gender" value="female" required> <label
							for="female">Female</label> <input type="radio" id="other"
							name="gender" value="other" required> <label for="other">Other</label>
					</div>
					<label for="role">Role:</label>
					<div class="radio-group">
						<input type="radio" id="admin" name="role" value="admin" required>
						<label for="admin">Admin</label> <input type="radio" id="customer"
							name="role" value="customer" required> <label
							for="customer">Customer</label>
					</div>
					<label for="address">Address:</label>
					<textarea name="address" placeholder="Address" required></textarea>
					<button type="submit">REGISTER</button>
				</form>
				<div class="register-forget opacity">
					<a href="/map-login">LOGIN</a>
				</div>
			</div>
			<div class="circle circle-two"></div>
		</div>
		<div class="theme-btn-container"></div>
	</section>
	<script type="text/javascript">
		const password = document.getElementById("password");
		const eye = document.getElementById("eye");

		eye.addEventListener("click", togglePassword);

		function togglePassword() {

			if (password.type === "password") {
				password.type = "text";
				
			} else {
				password.type = "password";
				
			}

		}
		
		//this is for email
function emailfun() {
  const email = document.getElementById("email").value;

  if(email.endsWith("@gmail.com")) {
		 document.getElementById("message").innerHTML = "";
		 
  } else {  
    document.getElementById("message").innerHTML = "Please enter valid @gmail.com";
  }
}
	</script>
</body>
</html>
