<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>REGISTER SUCCESSFUL</title>
<link rel="stylesheet" href="/css/style31.css">
</head>
<body>
	
	<div class="container" id="container">
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1 style="text-shadow: 2px 3px green ">Congrats!!! You have successfully registered.</h1>
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp"><a href="/map-login" style="color:white">LOG IN</a></button>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
